.SelectStyle{
  padding: 20px;
}

.SelectStyle select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 17px;
  width: max-content;
}