.contracts-container {
    padding: 20px;
    font-family: math;
    direction: rtl;
  }
  * {
    outline: none !important;
}
  .contracts-table {
    background: white;
      border-radius: 12px;
      overflow-x: auto;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
      width: 100%;
      border-collapse: collapse;
  }
  .dashboard-cards{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: math;
  }
  .contracts-table th, .contracts-table td {
    text-wrap: nowrap;
    font-size: 12px;
    padding: 10px;
    text-align: left;
  }
.fss {
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    padding: 10px;
    background-color:#04a799;
    color: white;
    border-radius: 8px;

    width:fit-content;
}
.fss:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);

}
.modal-body {
  position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 18px;
}
.modal-content {
  direction: rtl;
  text-align: right;
}
            
  .contracts-table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .contracts-table tr:nth-child(even) {
    background-color: #fafafa;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.search-container {
  position: relative;
  width: fit-content;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* padding-right allows room for the image */
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  direction: rtl; /* For Arabic layout */
}

.search-icon {
  position: absolute;
  left: 10px; /* Positionf inside the input */
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* Makes the image non-interactive */
}
.departments-report
{
  display: flex;
  align-items: start;
  overflow: auto;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area, #print-area * {
    visibility: visible;
    direction: rtl;
    overflow: hidden;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 8px;
    text-align: center;
  }

  thead {
    background-color: #f2f2f2;
  }
}
